form {
    max-width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(110, 28, 28, 0.1);
  }
  h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  textarea {
    min-height: 150px;
    resize: vertical; /* Allow vertical resizing */
  }
  button:hover {
    background-color: #45a049;
  }
 
  @media (max-width: 600px) {
 .review-heading{
font-size: 15px;
 }
  .form-rating{
    max-width: 90%;
    font-size: 4px;
  }
label{
    font-size: 15px;
    font-weight: none;
}
    }
 