.navbar{
    background-color: rgb(219, 219, 214);
    padding: 40px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.no-underline {
    text-decoration: none;
    color: black;
}

@media (max-width: 320px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .nav-links{
        font-size: 14px;
    }
   
}
@media (max-width: 575px) {
  
}
@media (max-width: 768px) {


}
@media (max-width: 995px) {}